@media only screen and (max-width: 1220px){
    .row2{
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .row2 .paragraph{
        min-height: unset;
        margin: 2.5em;
    }
    .row3{
        overflow-y:hidden;
    }
}

@media only screen and (max-width: 950px){
    .melty {
        top: 5em;
        right: -5em;
    }
    .melty img {
        width: 10em;
    }
    .speech-bubble {
        width: 5em; height: 2.5em;
        top: 1em;
        right: 6.5em;
        
    }
    .speech-bubble:before, .speech-bubble:after {
        position: absolute;
        z-index: -1;
        content: '';
    }
    .speech-bubble:after {
        top: 0; right: 0; bottom: 0; left: 0;
        border-radius: inherit;
        transform: rotate(2deg) translate(.35em, -.15em) scale(1.02) !important;
        background:whitesmoke;
    }
    .speech-bubble:before {
        border: solid 0 transparent;
        border-right: solid 3.5em whitesmoke;
        border-bottom: solid .25em limegreen;
        bottom: .25em; left: 1.25em;
        width: 0; height: 1em;
        transform: rotate(45deg) skewX(75deg)!important;
    }
    .speech-bubble p{
        font-size: 12px;
        padding: 0;
        margin-top: -5px;
        transform: rotate(2deg) translate(.35em, -.15em) scale(.9);
    }
    .row4{
        flex-wrap: wrap;
    }
    .row4 .paragraph{
        min-height: unset;
        text-align: center;
        margin: 2.5em;
    }
    .ta-left{
        margin-left: 0 !important;
    }
    .ta-right{
        margin-right: 0 !important;
    }
    .social-icons{
        display: none;
    }
    .resume{
        display: none;
    }
    .paragraph{
        margin: 0 !important;
        padding: 20px;
        width: 90vw;
    }
    .paragraph-left{
        margin-right: 3rem;
    }
    .gallery-block{
        margin: 1em;
    }
}
@media only screen and (max-width: 850px){
    .paragraph h4{
        font-size: 1em;
    }
}
@media only screen and (max-width: 598px){
    .innerContainer h1{
        font-size: 3rem;
    }
    .innerContainer h2{
        font-size: 1rem;
    }
    .image-row img{
        max-height: 75px;
        margin: 1em;
    }
    .row8 h2{
        font-size: 3rem;
    }
    .row8 h4{
        font-size: 1rem;
    }
    .row2 h2{
        font-size: 3rem;
    }
    
    .row1 video, .row1 .light-overlay{
        display: none;
    }
    
    .row1 .intro{
        display: none;
    }
    .row3, .row4, .row5, .row6, .row7, .row8{
        display: none;
    }
    .seo-title{
        width: 50%;
        position: absolute;
        top: 60px;
        right: 20px;
    }
    .seo-title h2{
        font-size: 24px;
        text-align: right;
    }
    .mobile{
        display: block;
    }
    .mobile-intro{
        padding: 20px;
        display: flex;
        justify-content: center;
    }
    .color-shape{
        height: 100vh;
        width: 100vw;
        border: none;
        background-color: rgba(224, 222, 222, 0.95);
        
        
    }
    .paragraph h2{
        font-size: 1.5rem;
        font-family: unset;
        font-weight: 700;
    }
    .row9{
        display: none;
    }
    .gallery{
        margin-left: 0 !important;
        text-align: center !important;
        justify-content: center;
    }
    .gallery-block{
        width: 100%;
        position: relative;
    }
    .gallery-block img{
        position: absolute;
        top: 0; bottom: 0; right: 0; left: 0;
        width: 94vw;
    }
    .gallery-overlay{
        width: 90vw;
        padding: unset;
    }
    .sim-button{
        margin-left: unset;
    }
}

@media only screen and (max-width: 405px){

    .image-row img{
        max-height: 50px;
        margin: 1em;
    }
}

@media only screen and (max-width: 305px){
    .image-row img{
        max-height: 40px;
        margin: 1em;
    }
    .row4 h4{
        white-space: nowrap;
    }
}