/* Helpers */
.flex{
    display: flex;
    flex-wrap: nowrap;
}
.no-wrap{
    flex-wrap: nowrap;
    white-space: nowrap;
}
.center{
    justify-content: center;
    align-content: center;
    align-items: center;
}
.right{
    justify-content: flex-end; 
}
.column{
    flex-direction: column;
}
.column-left{
    flex-direction: column;
    flex: 50%;
}
.row{
    flex-direction: row;
}
.italic{
    font-style: italic;
}
.ta-right{
    text-align: right;
    margin-right: 10% !important;
}
.ta-center{
    text-align: center;
}
.ta-left{
    text-align: left;
    margin-left: 10% !important;
}
.justify-spread{
    justify-content:space-between;
}
.h-50{
    min-height: 50vh;
}
.mt-1em{
    margin-top: 1em;
}
.mt-2em{
    margin-top: 2em;
}
.w-100{
    width: 100vw;
}
.w-50{
    width:50%;
}
.m-5{
    margin: 5em;
}
.my-0{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.mb-0{
    margin-bottom: 0 !important;
}
.mobile{
    display: none;
}
.flex-right{
    display: flex;
    justify-content: flex-end;
}
.dark-blue{
    color: #033047 !important;
}
.gray-background{
    background-color: rgba(224, 222, 222, 0.95);
}

/* Page Loader */
#loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0b0b0b;
    display: grid;
    place-items: center;
}

.loader {
    animation: spin 1s linear infinite;
}

.loader img{
    height: 10em;
    width: auto;
}

@keyframes spin {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(-360deg); }
}

/*Connect Birdie*/
.connect-floater{
    overflow: hidden;
    height: auto;
}
.melty {
    z-index: 10;
    position: fixed;
    top: 5em;
    right: -12em;
    transition: padding 0.3s;
}
.melty img {
    z-index: 10;
    width: 25em;
    transform: rotateZ(-30deg);
}
.speech-bubble {
    position: fixed;
    top: 2em;
    right: 10em;
    margin: .5em auto;
    padding: .75em;
    width: 10em; height: 4em;
    border-radius: .25em;
    background: limegreen;
    text-align: center;
    animation-delay: 2.5s;
    transition: padding 0.3s;
}
.speech-bubble:before, .speech-bubble:after {
    position: absolute;
    z-index: -1;
    content: '';
}
.speech-bubble:after {
    top: 0; right: 0; bottom: 0; left: 0;
    border-radius: inherit;
    transform: rotate(2deg) translate(.35em, -.15em) scale(1.02) !important;
    background:whitesmoke;
}
.speech-bubble:before {
    border: solid 0 transparent;
    border-right: solid 3.5em whitesmoke;
    border-bottom: solid .25em limegreen;
    bottom: .25em; left: 1.25em;
    width: 0; height: 1em;
    transform: rotate(45deg) skewX(75deg)!important;
}
.speech-bubble p{
    padding-top: .75em;
    transform: rotate(2deg) translate(.35em, -.15em) scale(1.02);
}
.fade-in{
    animation: fadein 2000ms !important;
    -webkit-animation: fadein 2000ms !important;
    opacity: 1 !important;
}
.fade-out{
    animation: fadeout 2000ms !important;
    -webkit-animation: fadeout 2000ms !important;
    opacity: 0.15 !important;
}
@keyframes fadein{
    0% { opacity:0.15; }
    100% { opacity:1; }
}
@-webkit-keyframes fadein{
    0% { opacity:0.15; }
    100% { opacity:1; }
}
@keyframes fadeout{
    0% { opacity:1; }
    100% { opacity:0.15; }
}
@-webkit-keyframes fadeout{
    0% { opacity:1; }
    100% { opacity:0.15; }
}

/* General CSS */
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #033047;
  }
  ::-webkit-scrollbar-thumb {
    background: #06c3d3;
  }
html {
	scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    margin:0;
    font-family: 'DM Sans', sans-serif;
    overflow-x: hidden;
    color: #033047;
}
a{
    text-decoration: none;
    color: #033047;
}
p, h1, h2, h3, h4, h5{
    margin-block-start: 0;
    margin-block-end: 0;
}
h4, h3 b, h5 b, .fab{
    color:#06c3d3;
}
h3{
    margin-bottom: 7.5px;
}
h4{
    margin-bottom: 1em;
}
h5{
    margin-bottom: 20px;
    font-size: 1em;
}
hr{
    text-align: center;
    width: 75%;
    border: 3px solid #06c3d3;
    border-radius: 3px;
    background-color: #06c3d3;
}
.lobster{
    font-family: Lobster, open-sans;
    color: #06c3d3;
    font-weight: 300;
}
.fab{
    margin-right: .75em;
}
.fab:hover{
    color: #033047;
    transform: scale(1.3);
    transition: 500ms;
}
.mr-auto{
    margin-right: auto;
}
.row1, .portfolio{
  height: 100vh;
  background-color: white;
  overflow-x: hidden;
  background-attachment: fixed;
  flex-direction: column;
}
.row1 .light-overlay{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(255, 255, 255, 0.45);
    z-index:99;
}
.row1 img{
    position: absolute;
    top: 20px;
    left: 20px;
    height: 150px;
    z-index:100;
}
.row1 .intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:100;
    font-size: 80px !important;
}
.portfolio .intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:100;
    font-size: 80px !important;
}
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
  }
.innerContainer{
    margin-top: -25vh;
    width: 80%;
    font-family: 'Space Mono', monospace;
}
.innerContainer h1{
    font-size: 5rem;
}
.innerContainer h2{
    font-size: 2rem;
}
.seo-title{
    position: absolute;
    top: 7%;
    right: 10px;
    z-index:100;
    font-size: 35px !important;
}
.color-shape{
    position: absolute;
    top: 100vh;
    width: 0;
      height: 0;
      border-bottom: 100vh solid #06c3d3;
      border-left: 100vw solid transparent;
      z-index: -1;
}
.family{
    position: absolute;
    top: 3rem;
    right: 3rem;
    height: 25em;
    width: auto;
    border-radius: 20px;
    z-index: 1;
}
.gallery{
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}
.gallery-block{
    top: 0;
    height: 300px;
    width: 500px;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-bottom: 3rem;
    position: relative;
    transition: 500ms;
}
.gallery-block img{
    max-height: 100%;
    max-width: auto;
    object-fit: cover;
    transition: 500ms;
}
.gallery-overlay{
    position: absolute;
    bottom: 0;
    width: 475px;
    height: auto;
    z-index: -1;
    opacity: 0;
    padding: 1em;
    text-align: center;
}
.gallery-overlay p{
    margin: 10px;
}
.gallery-block:hover .gallery-overlay{
    opacity: 1;
    transform: scale(1.1);

}
.gallery-block:hover img{
    transform: scale(1.1);
    transform: translate(0%, -65%);
}

.row2, .row3, .row4, .row5, .row6, .row7, .row8 {
    background-image: url(asset/Winnebago_Topo_Pattern_Path_Gray.svg);

    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    background-attachment: fixed;
}
.row3, .row4{
    height: 50vh;
}
.row5{
    position: relative;
    overflow-y: auto;
}
.row5 .paragraph{
    z-index: 10;
}
.row5-overlay{
    background-color: rgba(239, 239, 239, 0.906)
}
.center-compress{
    max-width: 950px;
}
.paragraph{
    width: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
.paragraph-right h5{
    max-width: 50%;
}
.paragraph h2{
    font-size: 5rem; 
}
.paragraph-right h2, .paragraph-left h4{
    max-width: 50%;
}
.paragraph h4{
    font-size: 2rem;
}
.image-row img{
    max-height: 100px;
    margin: 1em;
}
.sim-button{
	line-height: 50px;
	height: 50px;
	text-align: center;
	margin-left: auto;
	width: 10em;
	cursor: pointer;
}
.sim-button:hover p, .sim-button:active p, .sim-button:focus p{
    color: white !important;
}
.button1 {
	color: #033047;
    font-size: 14px;
    background-color: transparent;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	border: 1px solid #033047;
}
.button1 a{
	color: #033047;
	display: block;
}
.button1:hover {
	background-color: #06c2d388;
    border: 1px solid #06c2d388;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 20px;	
    -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

/* React Carousel */
#app{
    margin-top: 2em;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.carouselContainer{
    width: 1000px;
    height: auto;
    display: flex;
    justify-content: center;
}
.carouselArea{
    width: 800px;
    height: auto;
    white-space: nowrap;
    position: relative;
    overflow:hidden;
    box-sizing:border-box;
}
.carouselArea >.carouselPosts{
    position: relative;
    transition:0.5s;
}
.carouselPostBox{
    width: 100%;
    display:inline-block;
    box-sizing:border-box;
}
.carouselPostBox >.cover{
    width: 100%;
    transition: 0.5s, 0s;
    background-position:center,center;
    background-size:cover;
}
.carouselPostBox > .cover:hover{
    transform: scale(1.1);
}
.carouselPostBox a{
    display: flex;
    justify-content: center;
}
.controlLeft , .controlRight {
    width: 40px;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: 0.5s, 0s;
    font-size: 30px;
    cursor: pointer;
    z-index: 100;
}
.controlLeft:hover, .controlRight:hover {
    color:#06c3d3;
    -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.controlLeft{
    left: 1rem;
}
.controlRight{
    right: 1rem;
}
.contentBox{
    width:90%;
    background-color: transparent;
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid #033047;
}
.contentBox:hover{
    background-color: #06c2d388;
    border-color: #06c2d388;
    border-radius: 20px;
    -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.cardBox{
    display:flex;
    width: 100%;
    justify-content: space-evenly;
}
.cardBox .imageStyle{
    width: 100px;
    height: 100px;
    transition: 0.5s, 0s;
    background-position:center,center;
    background-size:cover;
}
.imageStyle{
    border: 1px solid #033047;
    border-radius: 5px;
}
.cardBox .fontBox{
    display:flex;
    flex-direction: column;
}
.cardBox .titleStyle{
    font-size: 20px;
    line-height:20px;
    font-weight: bolder;
    white-space: pre-line;
    letter-spacing:1px;    
} 

/*Mobile*/
.mobile-intro .sim-button, .mobile-row .sim-button{
    margin-top: 20px;
}
.mobile-row a{
    display: flex;
    justify-content: center;
}
.mobile-row{
    padding: 20px;
    text-align: center;
    padding-bottom: 3em;
}
.mobile-row i{
    color:#06c3d3;
}
.mobile-intro i{
    font-size: 60px;
    position: absolute;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Footer*/
footer{
    background-color: #033047;
    color: rgb(239, 239, 239);
    padding: 1em;
}
  